body {
    font-family: "Roboto", sans-serif;
}

li {
    font-style: italic;
}

a {
    font-weight: 700;
}

.logo-superhero-navbar-xs {
    width: 2.4rem;
    height: 1.8rem;
}

.logo-superhero-navbar-lx {
    width: 4rem;
    height: 3.4rem;
}
