body {
    font-family: "Roboto", sans-serif;
    min-height: 100vh;
    position: relative;
    margin: 0;
    padding-bottom: 100px;
    box-sizing: border-box;
}

li {
    font-style: italic;
}

a {
    font-weight: 700;
}

.logo-superhero-navbar-xs {
    width: 2.4rem;
    height: 1.8rem;
}

.logo-superhero-navbar-lx {
    width: 4rem;
    height: 3.4rem;
}

.card-image-hero {
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    height: 100%;
}
footer {
    left: 0;
    height: auto;
    position: absolute;
    bottom: 0;
    height: 100px;
}
